# Dependencies for OFCOURSE
# Please install these libraries with
# `pip install -r requirements.txt`

gymnasium==1.0.0
flask==3.1.0
flask-sock==0.7.0
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pytest==8.3.4
requests==2.32.3
seaborn==0.13.2
tensorboard==2.18.0
torch==2.5.1
tqdm==4.67.1
